* {
    box-sizing: border-box;
  }
 
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    transition: all .3;
  }

  .dark{
    background-color: #303030;
  }
  .dark-input{
    background-color: #505050;
    color: white;
  }
  .light{
    color: white;
  }
  body, 
  main, 
  .inputBox,
  .restartBox  {
    width: 100%;
  }
  
  main {
    height: 100vh;
  }
  h1, .inputBox {
    text-align: center;
  }
  h1 + div {
    padding: 2rem 0;
  }
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .hidden {
    display: none;
  }
  input {
    width: 7rem;
    border: none;
    margin: 0 auto;
    background-color: #eee;
    color: black;
    border-radius: 5px;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 2rem;
  }

  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  
  .start,
  .play,
  .restart {
    font-size: 3rem;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: none;
    background: linear-gradient(#ffffff, #ffffff);
    color: #9198e5;
    transition: all 1s;
  }
  .start:hover,
  .play:hover {
    background: linear-gradient(#e66465, #9198e5);
    box-shadow: 1px 0px 10px 2px #ccc;
    cursor: pointer;
    color: white;
  }
  
  .start.fbAnimation,
  .play.fbAnimation {
    animation-name: fizzBuzz;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
  }
  
  .restart {
    width: 3rem;
    height: 3rem;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .restart:hover {
    cursor: pointer;
    box-shadow: 1px 0px 10px 2px #ccc;
  }
  
  #app {
    background-color: #eee;
    max-width: 19rem;
    max-height: 50vh;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
  }

  #app.show {
    padding: 1rem 1rem;
  }
 
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .box {
    display: grid;
    place-items: center;
    border-radius: 5px;
    box-shadow: 1px 0px 10px 2px #ccc;
    background-color: #f6f3e3;
  }
  
  .box.appearing {
    animation-name: appearing;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .fizzBuzz {
    background: linear-gradient(#e66465, #9198e5);
    color: white;
  }
  
  .box.fizz {
    background-color: #e66465;
    color: white;
  }
  .box.buzz {
    background-color: #9198e5;
    color: white;
  }
  .fizzBuzz.fbAnimation {
    animation-name: fizzBuzz;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  

  @keyframes appearing {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 5rem;
      height: 5rem;
    }
  }

  @keyframes fizzBuzz {
    0% {
      width: 5rem;
      height: 5rem;
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      width: 5rem;
      height: 5rem;
      background-size: 200% 200%;
      background-position: right bottom;
    }
    100% {
      width: 5rem;
      height: 5rem;
      background-size: 200% 200%;
      background-position: left center;
    }
  }

  @media screen and (min-width: 990px){
    #app {
        max-width: 57rem;
      }
  }

  /* DARK MODE */
  #toggleContainer{
    position: absolute;
    right: 5%;
    top: 2%;
  }

  #switch{
    background-color: #bbb;
    padding: 1rem 1.75rem;
    border-radius: 20px;
    position: relative;
  }

  #switch button {
    background-color: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s;
  }

  .sun{
    background-color: #f9e262;
    right: 0;
    left: 50%;
  }
  .sun:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f185";
  }

  .moon{
    background-color: #eee;
    left: 0;
    right: 50%;
  }

  .moon:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f186";
  }
