* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    background-color: #99CCB6;
}

.wrapper {
    margin: 0 auto;
    max-width: 450px;
    min-height: 400px;
   
}

button {
    max-width: 60px;
}

.normal {
    background-color: #467E8B;
}

.animation {
    animation-name: animated;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 60px;
    max-width: 60px;
    transition: all 1s;
}


.fizz,
.buzz,
.fizzBuzz {
    font-weight: normal;
    border-radius: 5px;
    color: white;
}

.fizzBuzz {
    background: linear-gradient(#CDC65A,#583C54 );
    font-weight: normal;
  
}

.fizz {
    background-color: #CDC65A;
   
}

.buzz {
    background-color: #583C54;
}

@keyframes animated {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 60px;
        height: 60px;
    }
}